<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet"
		href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
		<link rel="stylesheet" type="text/css" href="{{
		url_for('static', filename='dashboard.css') }}">
		    <script
src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
		<title>Temperature Control</title>
	</head>
	<body >
		<h1 > Temperature Control Dashboard </h1>
		<div class="container">
		<div class="ct-chart">
		</div>
		</div>
		<div class="container-statistics">
			<div>
				<h3 class="title-statistics">Average:</h3>
			<h3  class="average"> {{ average }} </h3>
			</div>
			<div>
				<h3 class="title-statistics">Standard
					Deviation:</h3>
			 <h3 class="standard-deviation"> {{ standardDeviation }} </h3>
			</div>
		</div>
		<script type="text/javascript"> 
new Chartist.Line('.ct-chart', {
	labels: [{%- for line in time -%}
	        '{{ line }}'
	        {%- if not loop.last -%}
		,
	        {%- endif -%}
	    {%- endfor -%}],
	    series: [
		    [{{ temperature }}]
				  ]
}, {
	  low: 0,
	  fullWidth: true,
	    chartPadding: {
		        right: 20
				  },
	    showArea: true,
	       height: '400px',
	       chartPadding: 60
});
		</script>
	</body>

</html>
