<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet"
		href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
		    <script
src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
		<title>Temperature Control</title>
	</head>
	<body style="background:#EADBC4">
		<h1 style="text-align:center"> {{ temperature }} </h1>
		<div class="ct-chart"></div>
		<script type="text/javascript"> 
new Chartist.Line('.ct-chart', {
	labels: [{%- for line in time -%}
	        '{{ line }}'
	        {%- if not loop.last -%}
		,
	        {%- endif -%}
	    {%- endfor -%}],
	    series: [
		    [{{ temperature }}]
				  ]
}, {
	  low: 0,
	    showArea: true
});
		</script>
	</body>

</html>
